.container {
    .content-wrapper {
      padding: 20px;
    }
  }

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 20px;
    margin: 20px;

}

.card {
  
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: #333;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

   
}
  
