<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="nome">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="CNPJ" formControlName="cnpj" mask="00.000.000/0000-00">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Endereço" formControlName="endereco">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      {{ isEdit ? 'Atualizar' : 'Cadastrar' }}
    </button>
  </form>